/* * {
    margin:0;
} */
.nav-home{
    float: left;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-home a{
    text-decoration: none;
    color: whitesmoke;
}
nav{background-color: blue;
    height: 4rem;
    color: whitesmoke;
    
}
.nav-links{
    float: right;
    padding-top: .5rem;
    list-style-type: none;
}
.nav-link{
    color: whitesmoke;
    display: inline-block;
    padding-right: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-link a{
    color: whitesmoke;
    text-decoration: none;
}
.nav-link a:hover{
    color: lightgray;
}
.avatar{
    float: right;
    /* background-color: whitesmoke; */
    background-image: url(../Images/profilePic3.png);
    background-size: cover;
    height: 3rem;
    width: 3rem;
    border-radius: 5000px;
    margin-top: .5rem;
    margin-right: .5rem;
}
/* .avatar img{
    width: 100%;
    height: 100%;
    border-radius:50% 50% 50% 50%;
    object-fit: cover; */
/* } */
.searchbar{
    width: 20rem;
    height: 2rem;
    background-color: lightgray;
    float: right;
    border-radius: 5px;
    margin-top: .5rem;
    margin-right: .5rem;
}
.searchbar input{
    width: 100%;
    height: 100%;
}
.subnav-links{
    float: right;

}
.subnav-link{
    display: inline-block;
    padding-right: 2rem;
}
.subnav-links a{
    color: blue;
    text-decoration: none;
}
.subnav-link a:hover{
    color: lightskyblue;
}
main{clear: both;
    display: flex;
    justify-content: start;
}
.sidebar{
    width: 30vw;
    min-height: 100vh;
    height: auto;
    background-color: lightgreen;
    display: inline-block;
    padding: 1rem;
    padding-left: 2rem;
}
.card-preview{
    width: 25vw;
    height: 75vh;
    /* background-color: lightsalmon; */
    background-image: url(../Images/previewPic1.png);
    background-size: cover;
}
.card-list{
    display: inline-block;
    width: 69vw;
    height: auto;
    background-color: lightskyblue;
}
.card-list div{
    background-color: #eee;

}
.card-list > div:nth-child(odd){
    background-color: #ddd;
}
.card-individual{
    display: grid;
    padding-left: 1rem;
}
.card-individual p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* MEDIA QUERY TABLET */

@media screen and (max-width: 800px){
    nav{
        background-color: green;
    }

    .nav-home{
        font-size: 1.25rem;
        display: flex;
        height: 100%;
        margin: 0;
        align-items: center;
    }

    nav a{
        font-size: .80rem;
    }
    .sidebar{
        display: none;
    }
    .card-list{
        width: 100%;
    }
    .card-list p{
        text-align: center;
        font-size: 16px;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}
@media screen and (max-width: 500px){
    nav{
        background-color: red;
    
    }

    .nav-home{
        font-size: 1.25rem;
    }

    .nav-links{
        padding-top: .25rem;
        margin: 0;
    }

    .nav-link{
        display: block;
    }

    nav a{
        font-size: .80rem;
    }
    .subnav-links{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .searchbar{
        width: 95vw;
    }
}